<div class="container">

  <div class="row">

    <div class="col-12 pt-2">
      <app-summary-page-all></app-summary-page-all>
    </div>

    <div class="col-6 pt-2">
      <app-summary-page-details [typeNumber]="1"></app-summary-page-details>
    </div>

    <div class="col-6 pt-2">
      <app-summary-page-details [typeNumber]="2"></app-summary-page-details>
    </div>

    <div class="col-6 pt-2">
      <app-summary-page-details [typeNumber]="3"></app-summary-page-details>
    </div>

    <div class="col-6 pt-2">
      <app-summary-page-details [typeNumber]="4"></app-summary-page-details>
    </div>

  </div>
</div>
